<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <link href="bootstrap.min.css" rel="stylesheet" />
       <a href="https://github.com/kmdjs/observejs" target="_blank" style="position: absolute; right: 0; top: 0;">
        <img src="http://alloyteam.github.io/AlloyRenderingEngine/asset/img/github.png" alt="" />
    </a>
   <script src="observe.js"></script>
   <script>
       var List = function (option) {
           this.option = option;
           this.data = option.data;
           this.parent = document.querySelector(this.option.renderTo);
           this.tpl =
               '<div class="list-group" style="  text-align: center;width:<%=typeof width === "number"?width+"px":width%>;" >'
               + '            <% for ( var i = 0, len = data.length; i < len; i++) { %>'
               + '<%     var item = data[i]; %>'
               + '<a class="list-group-item <%=item.active ? "active" : ""%> <%=item.disabled ? "disabled" : ""%>" href="<%=item.href%>" target="<%=item.target?item.target:""%>"><%=item.text%><\/a>'
               + '<% } %>'
               + '<\/div>';
           this.render();
           //list.render建议使用debounce来控制执行频率提高性能,或者和react一样在下次执行requestAnimFrame的时候更新
           observe(this, "option", this._debounce(this.render, 200));
       }
       List.prototype = {
           render: function () {
               if (this.node) this.parent.removeChild(this.node);
               this.parent.innerHTML += this._tpl(this.tpl, this.option);
               this.node = this.parent.lastChild;
           },
		   clear:function(){
				this.data.size(0);
		   },
		   remove:function(index){
				this.data.splice(index,1);
		   },
		   add:function(item){
				this.data.push(item);
		   },
		   edit:function(index,item){
				this.data[index]=item;
		   },
		   disable:function(index){
				this.data[index].disabled = true;
		   },
		   _tpl: function (str, data) {
		       var tmpl = 'var __p=[];' + 'with(obj||{}){__p.push(\'' +
                   str.replace(/\\/g, '\\\\')
                       .replace(/'/g, '\\\'')
                       .replace(/<%=([\s\S]+?)%>/g, function (match, code) {
                           return '\',' + code.replace(/\\'/, '\'') + ',\'';
                       })
                   .replace(/<%([\s\S]+?)%>/g, function (match, code) {
                       return '\');' + code.replace(/\\'/, '\'')
                           .replace(/[\r\n\t]/g, ' ') + '__p.push(\'';
                   })
                   .replace(/\r/g, '\\r')
                       .replace(/\n/g, '\\n')
                       .replace(/\t/g, '\\t') +
                       '\');}return __p.join("");',

                       func = new Function('obj', tmpl);

		       return data ? func(data) : func;
		   },
		   _debounce: function (func, wait, immediate) {
		       var timeout;
		       return function () {
		           var context = this, args = arguments;
		           var later = function () {
		               timeout = null;
		               if (!immediate) func.apply(context, args);
		           };
		           var callNow = immediate && !timeout;
		           clearTimeout(timeout);
		           timeout = setTimeout(later, wait);
		           if (callNow) func.apply(context, args);
		       };
		   },
       }

       var list = new List({
           data: [
               { text: "天下太贰", disabled: true, active: true },
               { text: "魔兽争霸", href: "##", target: "_blank" },
               { text: "魔兽世界" },
               { text: "坦克世界" },
               { text: "超级玛丽", disabled: true }
           ],
           width: 150,
           renderTo: "body"
       })
       list.edit(1,{text:"haha"})
       list.add({ text: "aaaa" });
       list.remove(2, 1);
       list.disable(2);
	   list.remove(1);
	   
list.data[0].text="aaaaaaa"

    </script>
</body>
</html>
