language: node_js
node_js:
- stable
branches:
  only:
  - master
cache:
  directories:
  - node_modules
before_script:
- export CHROME_BIN=google-chrome
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
install:
- npm install
script:
- npm run test
